
/* ----- // ESTILOS GENERALES // ----- */

.container-about {
    margin: 200px auto;
    padding: 0 50px;
    user-select: none;
}

/* ----- // TEXTOS // ----- */

.about-title {
    text-shadow: 0px 0px 6px var(--light-color);
}


.about-texts {
    margin-top: 30px;
    line-height: 50px;
    word-spacing: 5px;
    width: 65%;
    text-align: justify; 
}


/* ----- // FOTO DE PERFIL // ----- */

.demian-profile {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px var(--light-color);
}

.demian-profile:hover {
    box-shadow: 0px 0px 15px var(--light-color);
    transition: .5s;
}

.img-container {
    float: right;
    position: absolute;
    right: 12%;
    margin-top: 50px;
}

/* ----- // MEDIA QUERIES // ----- */

/* arreglo para pantallas más grandes que 1920x1080 */
@media screen and (min-width: 1600px) {
    .container-about {
        margin: 350px auto 300px;
        padding: 0 50px;
    }

    .about-texts {
        margin-top: 50px;
    }

    .demian-profile {
        width: 350px;
        height: 350px;
    }

    .img-container {
        margin-top: 20px;
    }

}

@media screen and (max-width: 1250px) {
    .about-texts {
        word-spacing: 0px;
    }

    .demian-profile {
        width: 280px;
        height: 280px;
    }

    .img-container {
        float: right;
        position: absolute;
        right: 10%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1150px) {
    .container-about {
        padding: 0 20px;
    }

    .about-title {
        text-align: center;
    }

    .about-texts {
        width: 90%;
        margin: 40px auto 0px;
    }

    .img-container {
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .about-texts {
        width: 100%;  
        line-height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .demian-profile {
        width: 200px;
        height: 200px;
    }
}