.all-projects-container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 30px;
    padding: 0;
    user-select: none;
}

.projects-left {
    min-height: 60vh;
    pointer-events: none;
}

.projects-images {
    width: 100%;
    object-fit: contain;
}

.projects-right {
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.projects-texts {
    margin: 10px;
}

.projects-texts h2:hover {
    text-shadow: 0px 0px 10px var(--light-color);
    transition: .5s;
    font-size: 33px;
}

.projects-texts h2:not(:hover) {
    transition: .5s;
}