.container-game {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    overflow: hidden;
}

/* ----- // ESTAMBRES RECUPERADOS (HUD) // ----- */

.estambres-recuperados {
    position: absolute;
    top: 72%;
    left: 10%;
    pointer-events: none;
    z-index: 500;
}
.estambres-recuperados img {
    width: 150px;
}

/* Drop shadows de imágenes */
.estambres-recuperados img:nth-child(1) {
    filter: drop-shadow(0px 0px 3px greenyellow);
}
.estambres-recuperados img:nth-child(2) {
    filter: drop-shadow(0px 0px 3px skyblue);
}
.estambres-recuperados img:nth-child(3) {
    filter: drop-shadow(0px 0px 3px blueviolet);
}
.estambres-recuperados img:nth-child(4) {
    filter: drop-shadow(0px 0px 3px darkgoldenrod);
}
.estambres-recuperados img:nth-child(5) {
    filter: drop-shadow(0px 0px 3px crimson);
}

/* ----- // ESTAMBRES A MOVIMIENTO (NIVELES) // ----- */

.estambre-movimiento {
    width: 50px;
    position: absolute;
}

.ball-disappear {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* ----- // OBSTÁCULOS // ----- */

.obstaculo-default {
    position: absolute;
    z-index: 200;
    pointer-events: none;
    opacity: 60%;
}
.obstaculo-default:nth-of-type(1) {
    rotate: 45deg;
    top: 50%;
    left: 10%;
}
.obstaculo-default:nth-of-type(2) {
    rotate: -60deg;
    top: 20%;
    left: 80%;
}
.obstaculo-default:nth-of-type(3) {
    rotate: 75deg;
    top: 80%;
    left: 60%;
}
.obstaculo-default:nth-of-type(4) {
    rotate: -15deg;
    top: 20%;
    left: 30%;
}
.obstaculo-extra {
    position: absolute;
    z-index: 200;
    pointer-events: none;
    opacity: 60%;
}
.obstaculo-extra:nth-last-child(1) {
    rotate: 125deg;
    top: 20%;
    left: 10%;
    width: 85px !important;
    height: 60px !important;
}
.obstaculo-extra:nth-last-child(2) {
    rotate: 45deg;
    top: 50%;
    left: 90%;
    width: 60px !important;
    height: 40px !important;
}
.obstaculo-extra:nth-last-child(3) {
    rotate: 125deg;
    top: 60%;
    left: 40%;
    width: 50px !important;
    height: 35px !important;
}
.obstaculo-extra:nth-last-child(4) {
    rotate: 30deg;
    top: 30%;
    left: 50%;
    width: 90px !important;
    height: 70px !important;
}


/* ----- // MENÚ // ----- */

.marco-menu-game {
    position: absolute;
    top: 2%;
    left: 1.5%;
    opacity: 80%;
    z-index: -1;
    width: 97%;
    user-select: none;
    pointer-events: none;
}

.michi-menu-game {
    position: absolute;
    bottom: 0%;
    right: 7%;
    width: 21%;
    pointer-events: none;
    z-index: 10000;
}

.start-game-button {
    position: absolute;
    top: 42%;
    left: 46%;
    width: 7%;
    padding: 20px 30px;
    font-size: 35px;
    border-radius: 20px;
    border: 1px solid var(--light-color);
    background: transparent;
    color: white;
    box-shadow: 0px 0px 8px var(--light-color);
}
  
.start-game-button:hover {
  box-shadow: 0px 0px 18px var(--light-color);
  transition: 1s;
  background: rgb(44, 48, 60);
}

.button-back-home {
    border: none;
    background: none;
    color: var(--light-color);
    position: absolute;
    top: 7%;
    left: 4%;
    text-decoration: none;
}

/* ----- // MEDIA QUERIES (WIDTH) // ----- */

@media screen and (min-width: 1600px) {
    .button-back-home {
        left: 3%;
    }

    .michi-menu-game {
        bottom: 0%;
        right: 7%;
        width: 23%;
    }

    .marco-menu-game {
        top: 3%;
        left: .5%;
        width: 99%;
    }

    .estambres-recuperados {
        top: 75%;
        left: 12%;
    }

    .start-game-button {
        top: 44%;
        left: 47.5%;
        width: 5%;
        font-size: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .marco-menu-game {
        display: none;
    }

    .michi-menu-game {
        width: 24%;
    }

    .estambres-recuperados img {
        width: 120px;
    }

    .estambres-recuperados {
        top: 75%;
    }
}

@media screen and (max-width: 1150px) {
    .michi-menu-game {
        width: 28%;
    }

    .estambres-recuperados {
        left: 5%;
    }

    .start-game-button {
        width: 11%;
    }

    .estambres-recuperados img {
        width: 110px;
    }
    .obstaculo-default:nth-of-type(1) {
        width: 100px !important;
        height: 70px !important;
    }
    .obstaculo-default:nth-of-type(2) {
        width: 110px !important;
        height: 80px !important;
    }
    .obstaculo-default:nth-of-type(3) {
        left: 55%;
        top: 70%;
        width: 90px !important;
        height: 60px !important;
    }
    .obstaculo-default:nth-of-type(4) {
        width: 90px !important;
        height: 60px !important;
    }
}

@media screen and (max-width: 900px) {
    .button-back-home {
        left: 3%;
    }

    .start-game-button {
        width: 13%;
    }

    .estambres-recuperados {
        top: 20%;
        left: 2%;
        display: flex;
        flex-direction: column;
    }

    .estambres-recuperados img {
        width: 90px;
    }

    .michi-menu-game {
        right: 3%;
    }

    .obstaculo-default:nth-of-type(1) {
        width: 90px !important;
        height: 65px !important;
        left: 15%;
    }
    .obstaculo-extra:nth-last-child(1) {
        rotate: 125deg;
        top: 20%;
        left: 15%;
        width: 70px !important;
        height: 50px !important;
    }
}


@media screen and (max-width: 700px) {
    .michi-menu-game {
        width: 35%;
    }

    .button-back-home {
        left: 7%;
    }

    .start-game-button {
        width: 15%;
    }

    .obstaculo-extra:nth-last-child(1), .obstaculo-extra:nth-last-child(2), .obstaculo-extra:nth-last-child(3), .obstaculo-extra:nth-last-child(4) {
        width: 50px !important;
        height: 35px !important;
    }
    .obstaculo-default:nth-of-type(1), .obstaculo-default:nth-of-type(2), .obstaculo-default:nth-of-type(3), .obstaculo-default:nth-of-type(4) {
        width: 75px !important;
        height: 50px !important;
    }
    .obstaculo-extra:nth-last-child(2) {
        left: 80%;
    }
}

@media screen and (max-width: 550px) {
    .michi-menu-game {
        width: 45%;
    }

    .start-game-button {
        width: 20%;
        left: 42%;
    }

    .estambres-recuperados img {
        width: 75px;
        margin-bottom: 10px;
    }

    .obstaculo-default:nth-of-type(1) {
        top: 80%;
        width: 70px !important;
        height: 45px !important;
    }
    .obstaculo-default:nth-of-type(2) {
        width: 60px !important;
        height: 45px !important;
    }
    .obstaculo-default:nth-of-type(3) {
        width: 50px !important;
        height: 35px !important;
    }
    .obstaculo-extra:nth-last-child(1) {
        top: 5%;
        left: 40%;
        width: 50px !important;
        height: 35px !important;
    }
    .obstaculo-extra:nth-last-child(3) {
        top: 55%;
        left: 30%;
        width: 50px !important;
        height: 35px !important;
    }
    .obstaculo-extra:nth-last-child(4) {
        rotate: 30deg;
        top: 38%;
        left: 50%;
        width: 40px !important;
        height: 30px !important;
    }
}

@media screen and (max-width: 450px) {
    .start-game-button {
        width: 25%;
        left: 40%;
    }
}

/* ----- // MEDIA QUERIES (HEIGHT) // ----- */

@media screen and (min-height: 920px) {
    .marco-menu-game {
        display: none;
    }

    .michi-menu-game {
        width: 30%;
        right: 1%;
    }

    .estambres-recuperados {
        top: 85%;
        left: 3%;
        display: block;
    }

    .estambres-recuperados img {
        width: 120px;
    }

    .obstaculo-default:nth-of-type(1), .obstaculo-default:nth-of-type(2), .obstaculo-default:nth-of-type(3), .obstaculo-default:nth-of-type(4) {
        width: 110px !important;
        height: 80px !important;
    }
}