
/* ----- // ESTILOS GENERALES // ----- */

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  margin-bottom: 200px auto;
}

.posicion-obj-home {
  position: relative;
  left: -20%;
  z-index: 1;
}

.marco-home {
  position: absolute;
  top: 3%;
  opacity: 80%;
  left: 3%;
  z-index: -1;
}

/* ----- // TEXTOS DE HOME // ----- */
.textos-hero {
  margin-top: 120px;
  font-weight: 700;
  font-size: 55px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-color);
}

.textos-hero-esp {
  margin-left: 80px;
}

.textos-hero p {
  margin: 0;
}

.textos-hero p:nth-last-of-type(1) {
  text-shadow: -3px -3px 1px rgba(76, 120, 202, 0.5);
  color: #b8d0ff;
  -webkit-text-stroke-color: transparent;
}

/* ----- // BOTÓN CONTACTO // ----- */

.btn-contact {
  margin-top: 60px;
  padding: 10px 30px;
  font-size: 25px;
  border: 1px solid var(--light-color);
  background: transparent;
  color: white;
  box-shadow: 0px 0px 8px var(--light-color);
}

.btn-contact:hover {
  box-shadow: 0px 0px 18px var(--light-color);
  transition: 1s;
  background: rgb(44, 48, 60);
}

/* ----- // MODAL CONTACTO // ----- */

.modal-dialog {
  display: flex;
  justify-content: center;
  user-select: none;
}

.modal-content {
  margin: 0 auto;
  background: var(--main-bg-color);
  box-shadow: 0px 0px 12px var(--light-color);
  min-width: 50vw;
  height: auto;
}

.btn-close-modal {
  background: transparent;
  border: none;
}

.icon-close-modal {
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  border: none;
}

.icon-close-modal:hover {
  filter: drop-shadow(0px 0px 5px var(--light-color));
  transition: .5s;
}

.icon-contact {
  color: var(--light-color);
  font-size: 40px;
}

.icon-contact:hover {
  filter: drop-shadow(0px 0px 3px var(--light-color));
  transition: .5s;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 50px;
}

.social-name {
  margin: auto 15px;
  user-select: text;
}

.advice-modal {
  opacity: 25%;
  text-align: right;
  margin-right: 15px;
}

/* ----- // MEDIA QUERIES // ----- */

/* arreglo para pantallas más grandes que 1920x1080 */
@media screen and (min-width: 1600px) {
  .marco-home {
    left: 1%;
  }

  .posicion-obj-home {
    left: -25%;
  }

  .textos-hero {
    margin-top: 160px;
  }

  .btn-contact {
    margin-top: 120px;
  }
  /* 
Tenía problemas con la visualización en monitor con más resolución comparado a la pantalla de 1920x1080, con min-width de 1500px 
a veces me rompía el diseño de la pantalla de dicha resolución, pero vi que a partir de 1600 ya no hay ningún tipo de problema 
con resoluciones más grandes en navegador, no me chocan los cambios que hago y se me ve bien en ambas pantallas.
*/
}

@media screen and (max-width: 1380px) {
    .posicion-obj-home {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  .textos-hero {
    margin-left: 0;
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
  }
  
  .textos-hero-esp {
    margin-left: 0;
  }

  .btn-contact {
    width: 50%;
    margin: 60px auto 0px;
  }
}

@media screen and (max-width: 1100px) {
  .marco-home {
    display: none;
  }
}

/* Breakpoint por quisquilloso */
@media screen and (max-width: 700px) {

    .textos-hero {
      font-size: 45px;
    }

    .btn-contact {
        font-size: 20px;
        padding: 10px;
      }
  }

@media screen and (max-width:600px) {
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }

  .title-modal-contact {
    font-size: 22px;
  } 

  .social-name {
    margin: 15px 0px 0px;
    font-size: 19px;
  }

  .advice-modal {
    text-align: center;
    margin-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .textos-hero {
    font-size: 35px;
    margin-left: 0;
    text-align: center;
  }

  .btn-contact {
    width: 90%;
    padding: 10px 0;
  }
}

@media screen and (min-height: 920px) {
  .marco-home {
    left: .5%;
  }
}

